@import "tailwindcss";

:root {
  background-color: #ffffff;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  color: #000000;
}

a:link {
  color: blue;
  text-decoration: underline;
}

a:visited {
  color: purple;
  text-decoration: underline;
}

a:hover {
  /* Many browsers keep the same color by default */
  color: blue;          /* or the same as link/visited */
  text-decoration: underline;
}